@import "./variables";
@import "./mixins";

* {
    @include margin-padding-fon;
}

body {
    @include width-height;

}

.mainIndex {
    height: 80vh;
    font-weight: bold;
    font-size: 20px;
}


.mainTriplreyesports {
    height: 80vh;
    background-color: $color-body ;

    h1 {
        display: flex;
        justify-content: center;
    }

    h2 {
        margin: 10px;
    }

    div {
        display: flex;

        img {

            border: $marco-dorado;
            margin-right: 40px;
            margin-left: 40px;
        }

        p {
            margin: 10px;
            font-size: 1.5rem;
        }
    }

    div {
        display: flex;
        justify-content: center;

        iframe {
            border: $marco-dorado;
            margin-bottom: 10px;
        }
    }
}

.mainNosotros {
    height: 80vh;
    background-color: $color-body;

    div {
        h1 {
            display: flex;
            justify-content: center;
        }

        h2 {
            margin: 10px;
        }

        h6 {
            font-size: 1.5rem;
            margin: 10px;
        }
    }

    div {

        img {
            border: $marco-dorado;
            display: block;
            margin: auto;
            margin-top: 15px;
        }
    }
}

.mainTuespacio {
    height: 80vh;
    background-color: $color-body;

    h1 {
        font-size: 2rem;
    }

    form {
        div {
            margin: 10px;

            label {
                font-size: 2rem;
            }

            input {
                width: 20vw;
                height: 4vh;
            }
        }

        div {
            margin: 10px;

            p {
                font-size: 2rem;
            }

            textarea {
                width: 50vw;
                height: 50vh;
            }
        }
    }
}